extends ../layout/common 
block link
      link(rel='stylesheet', type='text/css', href='../styles/products/create.css')
block content
  .header
    header
      .container-fluid
        .nav_wrap.d-flex.flex-row.justify-content-between
          .logo
            img(src='/images/logo-inverse-133x19.png', alt='')
        h3 CREATE NEW FILMS
        p.p-header Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, vel officia labore praesentium 
          |itaque iusto aliquid voluptatem cum est.
        .wrap-a
          a.watch-btn Watch now
            i.fas.fa-play
          a.watch-btn Create now
            i.fas.fa-play
        .text-scroll-arrow
          p SCROLL DOWN
          i.fas.fa-long-arrow-alt-down
  .introduction
    .container
      .row
        .col-md-6
          .left-content-intro
            img(src="../images/e1.jpg", alt="")
        .col-md-6.box-shadow
          .right-content-intro
            .content-on
              h2 How to create...
              .small-cont-1.d-flex.justify-content-between
                p Imdb sign
                .wrapper-start
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
                  i.fas.fa-star
              ul.d-flex.justify-content-between.p-0
                li June 07 - july 08
                li 08:00-12:00 pm
              p.prs_up_pera_sec Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam vel quis voluptate debitis excepturi ab necessitatibus quasi soluta repellat, esse in? Alias excepturi ullam praesentium explicabo veritatis voluptatem molestiae pariatur?
              .prs_ec_ue_circle_wrapper
                .circlediv.d-flex.justify-content-between
                  div
                    span.days 179
                    .mt-4.smalltext Days
                  div
                    span.hours 30
                    .mt-4.smalltext Hours
                  div
                    span.mins 29
                    .mt-4.smalltext Mins
                  div
                    span.secs 10
                    .mt-4.smalltext Secs

  .container-fluidx.register
    .row
      .col-md-3.register-left
        img(src='https://image.ibb.co/n7oTvU/logo_white.png', alt='')
        h3 Welcome
        p You are 30 seconds away from earning your own money!
        input(type='submit', name='', value='Login')
        br
      .col-md-9.register-right
        ul#myTab.nav.nav-tabs.nav-justified(role='tablist')
          li.nav-item
            a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Employee
          li.nav-item
            a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Hirer
        #myTabContent.tab-content
          #home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
            h3.register-heading Create a new film for...
            form(action="/product/create", method="POST", enctype="multipart/form-data")
              .form-wrap.d-flex.flex-row.register-form
                .left
                  .form-group
                    input.form-control(type='text',name='name', placeholder='Film Name *', value='')
                  .form-group
                    input.form-control(type='text',name='genre', placeholder='Genre *', value='')
                  .form-group
                    input.form-control(type='text',name='country', placeholder='Country *', value='')
                  .form-group
                    input.form-control(type='text',name='time', placeholder='Time *', value='')
                  .form-group
                    .maxl
                      .button-wrapper
                        span.label
                          | Upload File
                        input#upload.form-control(name="url", class="custom-file-input", type="file", multiple)

                .right
                  .form-group
                    input.form-control(type='text',name='cast', placeholder='Cast *', value='')
                  .form-group
                    input.form-control(type='text',name='imdb', placeholder='Imdb *', value='')
                  .form-group
                    input.form-control(type='text',name='year', placeholder='Manufacture Year *', value='')
                  .form-group
                    input.form-control(type='text',name='description', placeholder='Description for film *', value='')
                  input.btnRegister(type='submit', value='Create')
                  
