extends ../layout/common 
block content
    .container

        h1.my-4 View users

        .d-flex.flex-row
            //- img(src="/"+userInfo.avatar, class="img-fluid", width="40%")
            //- lable.mx-4 Name:
            //- b 
            //-     em
            //-         span= userInfo.name